In [1]:
import kborank

In [2]:
date = [
    (20170301, 20170331), (20170401, 20170430), (20170501,
                                                 20170531), (20170601, 20170630),
    (20170701, 20170731), (20170801, 20170831), (20170901,
                                                 20170930), (20171001, 20171031),
    (20180301, 20180331), (20180401, 20180430), (20180501,
                                                 20180531), (20180601, 20180630),
    (20180701, 20180731), (20180801, 20180831), (20180901,
                                                 20180930), (20181001, 20181031),
    (20190301, 20190331), (20190401, 20190430), (20190501,
                                                 20190531), (20190601, 20190630),
    (20190701, 20190731), (20190801, 20190831), (20190901,
                                                 20190930), (20191001, 20191031),
]

In [3]:
kborank.KBO_rank(date)

            date  hw  kia  kt  lg  ld  nc  ob  sk  ss  kw
0     2017/03/31   6    1   1   1   6   1   1   6   6   6
1     2017/04/01   4    1   1   1   4   4   4   8   8   8
2     2017/04/02   6    3   1   1   3   6   3   9   6   9
3     2017/04/03   6    3   1   1   3   6   3   9   6   9
4     2017/04/04   6    2   2   1   2   7   2   9   7   9
..           ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
471   2019/09/28   9    7   6   4  10   5   1   1   8   3
472   2019/09/29   9    7   6   4  10   5   1   1   8   3
473   2019/09/30   9    7   6   4  10   5   2   1   8   3
474  2019/010/01   9    7   6   4  10   5   1   2   8   3
475  2019/010/26   9    7   6   4  10   5   1   3   8   2

[476 rows x 11 columns]